*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 1536px;
}
nav{
    background-color: hsl(210.88deg 49.28% 27.06%);
    padding: 30px 500px;
}
ul{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}